@import './theme';

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  background: #fafafa;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

.text-justify {
  text-align: justify;
}

.link {
  color: mat-color($primary);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
